$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$dove-grey: #333;
$gallery: #eaeaea;
$grey: #888;

$cod-grey: #181818;
$cod-grey1: #171717;
$cod-grey2: #191919;
$cod-grey3: #191939;
$gulf-stream: #ffaa01; 
$conifer: #027a9f;
$rajah: #e1ef7e;

$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
